WebApi/AkqaDataServices/bin/
WebApi/AkqaDataServices/obj/
WebApi/AkqaDataStore/bin/
WebApi/AkqaTest/bin/
WebApi/AkqaTest/obj/
WebApi/AkqaDataStore/obj/
WebApi/AkqaWebApi/bin/
WebApi/AkqaWebApi/obj/
WebApi/packages/
WebApi/AkqaDataServicesTest/bin/
WebApi/AkqaDataServicesTest/obj/
WebApi/AkqaWebApiTest/bin/
WebApi/AkqaWebApiTest/obj/
WebApi/AkqaDataServices/out/
WebApi/AkqaWebApi/out/
WebApi/AkqaWebApiTest/out/
